<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>

    <link rel="icon" type="image/png" href="../images/logo.png"/>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/graph.css">


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"></script>

</head>

<body>

<div class="container-fluid min-vh-100">
    <div class="row min-vh-100">

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body min-vh-100">
                    <div id="folder-tree-container">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">

            <div class="card">
                <div class="card-body min-vh-100">

                </div>
            </div>

        </div>
    </div>
</div>
<div>
    <p><%= graphTree %></p>
</div>

<script src="../javascript/graph.js"></script>

</body>

</html>