<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>

    <link rel="icon" type="image/png" href="../images/logo.png"/>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css">

</head>

<body>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">

        <div class="title-heading container-fluid align-items-center">
            <div class="row">
                <div class="col-2">
                    <img src="/images/logo.png" class="cp-logo" alt="CausalPath Logo">
                </div>
                <div class="col-10">
                    <h4>CausalPath: Causal Interactions from Proteomic Profiles</h4>
                </div>
            </div>
        </div>


        <div class="card" style="margin-top:20px;">
            <div class="card-body">
                <p>
                    CausalPath evaluates proteomic and other molecular measurements against our prior knowledge of
                    cellular signaling and identifies potential causality among detected changes.
                    The method uses prior knowledge in high precision, distinguishes between activating and
                    inhibiting phosphorylations, performs a site-specific evaluation of causality.
                    The output of the method is a network model of signaling that explains the observations.
                    Please refer to <a href="https://doi.org/10.1016/j.patter.2021.100257">this article</a> for a
                    description of the method.
                </p>

                <p>
                    A <a href="https://github.com/PathwayAndDataAnalysis/causalpath">Java implementation</a> of
                    CausalPath is freely available. We also provide this web service for easy access to the method
                    and/or visualizing analysis results. Please note the web server does not support network
                    significance calculations in the analysis due to limited resources. If that is desired,
                    then the method needs to be run locally from its JAR file (see above link). Analysis results,
                    however, can still be visualized on this web server using option C below.
                </p>

                <p>
                    For a CausalPath analysis, please prepare your input files according to the
                    <a href="https://github.com/PathwayAndDataAnalysis/causalpath/blob/master/wiki/InputFormat.md">
                        guidelines</a>. If you already have results, please visualize them by uploading the related
                    output folder(s) using option C below. A sample dataset and analysis parameters can be found in
                    <a href="https://github.com/PathwayAndDataAnalysis/causalpath/raw/master/wiki/sample-data-and-parameters.zip">this
                        archive</a>.
                    This can be directly uploaded for analysis through option B below.
                </p>

                <p>
                    The <a href="https://github.com/PathwayAndDataAnalysis/causalpath-webserver">source code of this
                        web server</a> is freely available in a separate project.
                </p>

                <p>
                    Select one of the following options to start.
                </p>

            </div>
        </div>

        <div class="card" style="margin-top: 70px;">
            <div class="card-body">
                <div class="d-grid gap-4 col-8 mx-auto">


                    <button class="edited-button btn btn-primary" type="button">Upload all input files for
                        analysis
                    </button>
                    <input type="file" id="graph-file-input" onchange="loadAnalysisDirFromClientInput($event)"
                           webkitdirectory directory multiple>


                    <button class="edited-button btn btn-primary" type="button">Visualize results from previous
                        analysis
                    </button>


                    <button href="/graph" class="edited-button btn btn-primary" type="button"
                            onclick="redirectToGraph()">
                        <a href="/graph" class="button-anchor">
                            Display demo graphs</a>
                    </button>


                    <button class="edited-button btn btn-primary" type="button">
                        Learn more
                    </button>

                </div>

            </div>
        </div>

    </div>
    <div class="col-sm-1"></div>


    <script src="../javascript/index.js"></script>

</body>

</html>